#background{
  background: url("../img/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

#white-text {
  color: white !important;
}

.white-text {
  color: white;
}
