#background{
  background: url("https://s-media-cache-ak0.pinimg.com/originals/6b/ce/5f/6bce5f5b81d809cf1980b2a6a971fa83.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0.7);
}

label{
  color:white;
}

h1{
  color: grey;
}
