<div id="background">
  <div class="container">
    <div class="col-md-4 col-md-offset-4 jumbotron text-center">
      <h1 class="white-text">Oops!</h1>
      <h4 class="white-text">We ran into an issue.</h4>
      #if($message)
        <h4 class="white-text">$message</h4>
      #end

      <a href="/" class="btn btn-primary">Back home</a>
    </div>
  </div>
</div>
