<div id="background">
  <div class="container">
  <h1>WELCOME $user.getName()</h1>
  <form action="/logout" method="post">
    <button type="submit" class="btn btn-success"name="button">Log-Out</button>
  </form>

  #if (!$flight)
    <div class="jumbotron">
      <form action="/find" method="get">
        <label for="originPlace">Flying From:</label>
        <div class="form-group">
          <select class="form-control" name="originPlace">
            <option value="SBA">Santa Barbara</option>
            <option value="SBP">San Luis Obispo</option>
            <option value="LAX">Los Angeles International</option>
            <option value="JFK">John F. Kennedy</option>
            <option value="DFW">Dallas/Fort Worth</option>
            <option value="LHR">London Heathrow</option>
            <option value="RDU">Raleigh Durham International</option>
            <option value="PDX">Portland International</option>
            <option value="ATL">Hartsfield–Jackson Atlanta</option>
            <option value="SFO">San Francisco International</option>
            <option value="MUC">Munich Airport</option>
            <option value="FNJ">Pyongyang Sunan (North Korea)</option>
            <option value="PEK">Beijing Capital International</option>
          </select>
        </div>
        <label for="destinationPlace">Flying to:</label>
        <div class="form-group">
          <select class="form-control" name="destinationPlace">
            <option value="SBA">Santa Barbara</option>
            <option value="SBP">San Luis Obispo</option>
            <option value="LAX">Los Angeles International</option>
            <option value="JFK">John F. Kennedy</option>
            <option value="DFW">Dallas/Fort Worth</option>
            <option value="LHR">London Heathrow</option>
            <option value="RDU">Raleigh Durham International</option>
            <option value="PDX">Portland International</option>
            <option value="ATL">Hartsfield–Jackson Atlanta</option>
            <option value="SFO">San Francisco International</option>
            <option value="MUC">Munich Airport</option>
            <option value="FNJ">Pyongyang Sunan (North Korea)</option>
            <option value="PEK">Beijing Capital International</option>
          </select>
        </div>
        <input type="date" name="outboundPartialDate" required>
        <input type="date" name="inboundPartialDate" required>
        <div class="form-group">
          <label for="group-size">Group Size</label>
          <input type="number" max="8" min="1" name="group-size" value="" class="form-control" required>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Submit</button>
      </form>
    </div>
  #end

  #if (!$hotel)
    <div class="jumbotron">
      <h3>Book a Hotel</h3>
      <form action="/hotel" method="post">
        <div class="form-group">
          <select class="form-control" name="hotel">
            <option value="Motel 6">Motel 6 - $76</option>
            <option value="La Quinta Inn and Suites">La Quinta Inn and Suites - $114</option>
            <option value="Best Western">Best Western - $143</option>
            <option value="Marriot">Marriot - $195</option>
            <option value="The Ritz-Carlton">The Ritz-Carlton - $734</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nights">Number of Nights to Stay</label>
          <input type="number" class="form-control" max="14" min="1" name="night" value="">
        </div>
        <div class="form-group">
          <label for="room">Number of Rooms</label>
          <input type="number" class="form-control" max="4" min="1" name="room" value="">
        </div>
        <input type="hidden" name="userId" value="$user.getId()">
        <button type="submit" class="btn btn-danger" name="button">Book Rooms</button>
      </form>
    </div>
  #end

  #if (!$car)
    <div class="jumbotron">
      <h3>Book a Car</h3>
      <form action="/car" method="post">
        <div class="form-group">
          <select  class="form-control" name="car">
            <option value="Bike">Bike - $12</option>
            <option value="Nissan Versa">Nissan Versa - $24</option>
            <option value="Toyota RAV4">Toyota RAV4 (SUV) - $85</option>
            <option value="Buick LaCrosse">Buick LaCrosse - $178</option>
            <option value="Tesla Model S">Tesla Model S - $300</option>
          </select>
        </div>
        <div class="form-group">
          <label for="days">Number of Days</label>
          <input type="number" class="form-control" max="14" min="1" name="days" value="">
        </div>
        <input type="hidden" name="userId" value="$user.getId()">
        <button type="submit" class="btn btn-danger" name="button">Book a Car</button>
      </form>
    </div>
  #end
<!-- itinerary -->
  #if ($flight && $hotel && $car)
    <div class="jumbotron">
      <h1>$user.getName()'s Itinerary</h1>
      <h2>Flight Information</h2>
      <ul>
        <li>Carrier: $flight.getCarrier()</li>
        <li>Start Location: $flight.getStartLocation()</li>
        <li>End Location: $flight.getEndLocation()</li>
        <li>Start Date: $flight.getStartDate()</li>
        <li>End Date: $flight.getEndDate()</li>
        <li>Group Size: $flight.getGroupSize()</li>
        <li>Price Per Person: $flight.getPrice()</li>
        #set($totalFlight = $flight.getPrice() * $flight.getGroupSize())
        <li>Total Flight Cost: $totalFlight</li>
      </ul>
      <h2>Hotel Booking</h2>
      <ul>
        <li>Hotel: $hotel.getName()</li>
        <li>Nights Booked: $hotel.getDuration()</li>
        <li>Rooms Booked: $hotel.getRoomsBooked()</li>
        <li>Price Per Night: $hotel.getPrice()</li>
        #set($totalHotel = $hotel.getPrice() * $hotel.getRoomsBooked())
        <li>Total Hotel Cost: $totalHotel</li>
      </ul>
      <h2>Car Rental Information</h2>
      <ul>
        <li>Company: Hertz</li>
        <li>Vehicle Type: $car.getName()</li>
        <li>Days Rented: $car.getRentalDays()</li>
        <li>Price Per Day: $car.getPrice()</li>
        #set($totalCar = $car.getPrice() * $car.getRentalDays())
        <li>Total Rental Cost: $totalCar</li>
      </ul>
      #set($overallCost = $totalFlight + $totalHotel + $totalCar)
      <h4>Overall Cost = $overallCost</h4>
    </div>
  #end
</div>
</div>
