<h1>Adam Hair Salon</h1>

<div class="row">
  <div class="col-md-6">
	<form action="/find" method="get">
		<input name="market" value="US" />
		<br />
		<input name="currency" value="USD" />
		<br />
		<input name="locale" value="en-us" />
		<br />
		<input name="originPlace" value="JFK" />
		<br />
		<input name="destinationPlace" value="LON" />
		<br />
		<input name="outboundPartialDate" value="2016-10-10" />
		<br />
		<input name="inboundPartialDate" value="2016-10-17" />
		<br />
		<br />
		<button type='submit' class='btn btn-success'>Submit</button>
	</form>
  </div>
  <div class="col-md-6">
	
  </div>
</div>